<app-card-layout>
  <!-- forgot password card -->
  <mat-card *ngIf="!inProgress" class="mat-card-outlined reset-password">
    <mat-card-header class="header">
      <mat-icon mat-card-avatar class="mat-primary">security</mat-icon>
      <mat-card-title>{{ 'forgot-password.header-reset' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'forgot-password.message-reset' | translate }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <!-- reset password -->
      <form
        [formGroup]="resetFormGroup"
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayout.lt-md="column"
        fxLayoutGap.lt-md="0px"
        fxLayoutAlign="start"
        fxLayoutAlign.lt-md="space-evenly start">

        <!-- verification code -->
        <mat-form-field>
          <input
            type="text"
            matInput
            formControlName="code"
            autocomplete="off"
            [placeholder]="'registration.code' | translate">
          <mat-icon class="form-field-suffix-icon" matSuffix>security</mat-icon>
        </mat-form-field>

        <!-- new password -->
        <mat-form-field >
          <input
            type="password"
            matInput
            formControlName="password"
            autocomplete="off"
            [placeholder]="'forgot-password.new-password' | translate">
          <mat-icon class="form-field-suffix-icon" matSuffix>lock</mat-icon>
          <mat-error></mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-dialog-actions>
      <button
        mat-flat-button
        color="primary"
        [disabled]="resetFormGroup?.invalid || resetFormGroup?.pristine"
        (click)="resetPassword()">{{ 'forgot-password.confirm' | translate }}
      </button>
    </mat-dialog-actions>
  </mat-card>

  <!-- login -->
  <button *ngIf="!inProgress" mat-fab color="primary" class="mat-card-fab-button" routerLink="/login">
    <mat-icon>exit_to_app</mat-icon>
  </button>

  <!-- spinner -->
  <div *ngIf="inProgress" class="spinner">
    <mat-spinner></mat-spinner>
  </div>

</app-card-layout>

