<app-card-layout>
  <!-- forgot password card -->
  <mat-card *ngIf="!inProgress" class="mat-card-outlined forgot-password">
    <mat-card-header class="header">
      <mat-icon mat-card-avatar class="mat-primary">security</mat-icon>
      <mat-card-title class="angular-material">{{ 'forgot-password.header-request' | translate }}</mat-card-title>
      <mat-card-subtitle class="angular-material">{{ 'forgot-password.message-request' | translate }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form
        [formGroup]="codeFormGroup">

        <!-- user name -->
        <mat-form-field fxLayoutAlign="start">
          <input
            type="text"
            matInput
            formControlName="username"
            autocomplete="off"
            [placeholder]="'login.username' | translate">
          <mat-icon class="form-field-suffix-icon" matSuffix>person</mat-icon>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-dialog-actions>
      <button
        mat-flat-button
        color="primary"
        [disabled]="codeFormGroup?.invalid || codeFormGroup?.pristine"
        (click)="requestCode()">{{ 'forgot-password.confirm' | translate }}
      </button>
    </mat-dialog-actions>
  </mat-card>

  <!-- login -->
  <button *ngIf="!inProgress" mat-fab color="accent" class="mat-card-fab-button" routerLink="login">
    <mat-icon>exit_to_app</mat-icon>
  </button>

  <!-- spinner -->
  <div *ngIf="inProgress" class="spinner">
    <mat-spinner></mat-spinner>
  </div>

</app-card-layout>

