<app-card-layout>
  <!-- registration card -->
  <mat-card *ngIf="!inProgress" class="mat-card-outlined">
    <mat-card-header class="header">
      <mat-icon mat-card-avatar class="mat-primary">person_add</mat-icon>
      <mat-card-title class="angular-material">{{ 'registration.header' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="formGroup"
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayout.lt-md="column"
        fxLayoutGap.lt-md="0px"
        fxLayoutAlign="start"
        fxLayoutAlign.lt-md="space-evenly start">

        <!-- email -->
        <mat-form-field>
          <input
            type="email"
            matInput
            formControlName="email"
            autocomplete="off"
            [placeholder]="'registration.email' | translate">
          <mat-icon class="form-field-suffix-icon" matSuffix>email</mat-icon>
        </mat-form-field>

        <!-- user name -->
        <mat-form-field>
          <input
            type="text"
            matInput
            formControlName="username"
            autocomplete="off"
            [placeholder]="'registration.username' | translate">
          <mat-icon class="form-field-suffix-icon" matSuffix>person</mat-icon>
        </mat-form-field>

        <!-- password -->
        <mat-form-field>
          <input
            type="password"
            matInput
            minlength="8"
            formControlName="password"
            autocomplete="off"
            [placeholder]="'registration.password' | translate">
          <mat-icon class="form-field-suffix-icon" matSuffix>lock</mat-icon>
          <mat-error>{{ 'error.too-short' | translate }}</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-dialog-actions>
      <button
        mat-flat-button
        color="primary"
        [disabled]="formGroup?.invalid || formGroup?.pristine"
        (click)="registration()">{{ 'registration.continue' | translate }}
      </button>
    </mat-dialog-actions>
  </mat-card>

  <!-- login -->
  <button *ngIf="!inProgress" mat-fab color="accent" class="mat-card-fab-button" routerLink="/login">
    <mat-icon>exit_to_app</mat-icon>
  </button>

  <!-- spinner -->
  <div *ngIf="inProgress" class="spinner">
    <mat-spinner></mat-spinner>
  </div>

</app-card-layout>

