<!-- logged in -->
<span *ngIf="user && user.isLoggedIn">
  <span class="mat-caption">{{ user.username }}</span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="active">face</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="signOut()">
      <span>{{ 'user.logout' | translate }}</span>
    </button>
  </mat-menu>
</span>

<!-- not logged in -->
<span *ngIf="!user || !user.isLoggedIn">
    <button mat-icon-button>
    <mat-icon class="inactive">face</mat-icon>
  </button>
</span>
