<div class="dialog-header">
  <span fxFlexFill>{{ 'memo.dialog.delete.header' | translate }}</span>
</div>

<mat-divider></mat-divider>

<mat-dialog-content class="dialog-content">{{ 'memo.dialog.delete.message' | translate }}</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button tabindex="-1" [mat-dialog-close]="false">{{ 'memo.dialog.cancel' | translate }}</button>
  <button mat-raised-button tabindex="-1" color="primary" [mat-dialog-close]="true">{{ 'memo.dialog.remove' | translate }}</button>
</mat-dialog-actions>
