<div class="memo-list-container">
  <!-- memo grid -->
  <mat-grid-list
    cols="{{ (layout | async) === 'grid' ? (mediaObserver.isActive('lt-md') ? 4 : 8) : 2 }}" rowHeight="150px" gutterSize="15px">
    <mat-grid-tile
      [ngClass]="{ 'selected-memo' : memo.id === selectedMemoId }"
      *ngFor="let memo of memos | async" [colspan]="2" [rowspan]="1" [@fadeInOut]>
        <app-memo-list-item [memo]="memo" (update)="updateMemo($event)" (delete)="deleteMemo($event)"></app-memo-list-item>
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="noMemos" fxLayout="row" fxLayoutAlign="center start">
    <div class="no-memos" fxLayout="row" fxLayoutAlign="center start">
      <mat-icon>error_outline</mat-icon>
      <span>{{ 'memo.no-memos' | translate }}</span>
    </div>
  </div>

</div>

<!-- add memo -->
<button mat-fab color="accent" class="app-footer-fab-button" (click)="insertMemo()">
  <mat-icon>add</mat-icon>
</button>
