// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

html {
  height: 100%;
  overflow: hidden !important;
}

body {
  height: 100%;
  margin: 0;
  background-color: #eeeeee;
  overflow: hidden;
}

a {
  color: map_get($mat-indigo, 500);
  text-decoration: none;
}

.snackbar {
  color: #ffffff;
  background-color: map_get($mat-indigo, A200);
  span {
    margin: auto;
    text-align: center;
  }
}

.dialog-header span {
  font-weight: bold;
  font-size: medium;
}

.dialog-content {
  margin-top: 15px !important;
}

.spinner {
  margin-top: 20px;
  opacity: .75;
}

.app-footer-fab-button {
  position: fixed !important;
  bottom: 10px;
  right: 10px;
  text-align: center;
  z-index: 1;
}

.mat-card-fab-button {
  position: absolute !important;
  bottom: -25px;
  right: -28px;
}

.mat-card {
  margin-top: 30px;
  padding: 30px;
  position: relative;

  &.mat-card-outlined {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0,0,0,.12);
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
  }

  &.login, &.confirm-registration {
    @media (min-width: 601px) {
      width: 420px;
      max-width: 420px;
    }
    @media (max-width: 600px) {
      width: 210px;
      max-width: 210px;
    }
  }

  &.forgot-password {
    @media (min-width: 694px) {
      width: 320px;
      max-width: 320px;
    }
    @media (max-width: 695px) {
      width: 210px;
      max-width: 210px;
    }
  }

  &.reset-password {
    @media (max-width: 960px) {
      max-width: 220px;
    }
  }
}

.mat-dialog-header {
  margin-bottom: 15px;
}

.mat-dialog-link {
  margin: 15px !important;
  text-align: start;
}

.mat-dialog-container {
  overflow: hidden !important;
}


.form-field-suffix-icon {
  position: relative;
  top: 4px;
  margin-right: 5px;
  opacity: .5;
}

